@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1279px;
  margin: 0 auto;
}
/* Header___NAv */
.header__container {
  height: 51px;
  margin: 0 auto;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.logo img:nth-child(1) {
  width: 18.82px;
  height: 26.49px;
}
.logo img:nth-child(2) {
  width: 54.26px;
  height: 19.1px;
}
/* Nav_list */
.nav_list {
  display: flex;
  gap: 263px;
}
.nav_list_main {
  display: flex;
  list-style: none;
  gap: 36px;
  align-items: center;
}
.nav_list_start {
  display: flex;
  list-style: none;
  gap: 16px;
}

.nav_list_main > li > a:link,
a:visited {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #9893a3;
  transition: all 0.5s linear;
  border-bottom: 4px solid #fff;
  padding-bottom: 10px;
}
.nav_list_main > li > a:hover,
a:focus {
  color: #2f2e41;
  border-bottom: 4px solid #9e99ff;
}

.nav_link {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
.nav_list_start {
  display: flex;
  align-items: center;
}

.nav_list_start > li > a:nth-child(1) {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  border: 2px solid #6c63ff;
  border-radius: 3px;
  padding: 16px 30px;
  text-align: center;
  align-items: center;
  background: #fff;
  color: #6c63ff;
}

.nav_list_start > li:nth-child(2) a {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  border: 2px solid #6c63ff;
  border-radius: 3px;
  padding: 16px 30px;
  text-align: center;
  align-items: center;
  background: #6c63ff;
  color: #ffffff;
}

/* ---header_section--- */

.header_section {
  width: 1180px;
  height: 559px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px auto;
}

.header_blockA {
  width: 489px;
  height: 485px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 41px;
}
.header_blockA > h1 {
  width: 489px;
  height: 264px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: bold;
  font-size: 86px;
  line-height: 88px;
  letter-spacing: -1px;
  align-self: stretch;
  color: #2f2e41;
}

.header_blockA > p {
  width: 420px;
  height: 102px;
  font-family: "Open", "Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 34px;
  color: #9893a3;
  margin: 30px 0px;
}

.header_blockA > a {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  border: 2px solid #6c63ff;
  border-radius: 3px;
  padding: 16px 30px;
  text-align: center;
  align-items: center;
  background: #6c63ff;
  color: #fff !important;
  text-decoration: none;
}

.header_blockB {
  width: 642px;
  height: 559px;
}

/* ---Section_Brand--- */

.brand {
  width: 900px;
  height: 35.42px;
  margin-top: 86px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ---section_detailed--- */

.section_detailed {
  width: 1180px;
  height: 442.78px;
  margin: 0 auto;
  margin-top: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detailed_img {
  width: 600px;
  height: 442.78px;
}
.detailed_text {
  width: 400px;
  height: 309px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.detailed_text > h1 {
  font-family: "Playfair", "Display";
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 64px;
  color: #2f2e41;
}
.detailed_text p {
  font-family: "Open", "Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 34px;
  margin: 24px 0px;
  color: #9893a3;
}

.detailed_text a:link,
a:visited {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  transition: all 0.5s linear;
  text-decoration: none;
  line-height: 20px;
  color: #6c63ff;
  padding: 3px 1px;
}

.detailed_text a:hover,
a:focus {
  color: #2f2e41;
  border-bottom: 3px solid #9893a3;
}

/* ---- section_Choose----- */

.section_Choose {
  width: 1180px;
  height: 656px;
  text-align: center;
  margin-top: 220px;
}

.choose {
  margin-top: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section_Choose > h1 {
  height: 64px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 64px;
  color: #2f2e41;
}
.choose > .choose_plan {
  width: 353px;
  height: 410px;
  line-height: 58px;
  box-shadow: 1px 5px 8px 5px #888888;
}

.choose_plan > h2 {
  font-size: 50px;
}
.choose_plan > a {
  border: 1px solid #6c63ff;
  padding: 13px 25px;
  text-decoration: none;
}
.choose_plan:hover a {
  color: #6c63ff;
  background-color: white;
  padding: 13px 25px;
}

.choose_plan > h2 > span {
  font-size: 18px;
}

.choose_plan:hover {
  background-color: #6c63ff;
  color: white;
  transition: all 1.5s;
}

/* ---section our_blog---- */

.our_blog {
  margin-top: 180px;
  /* border: 1px solid black; */
}
.our_blog > h1 {
  font-size: 60px;
}
.read {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
}
.read > .read_more {
  /* border: 1px solid black; */
  width: 363px;
  height: 400px;
}
.read > .read_more > img {
  width: 100%;
}
.read > .read_more > h5 {
  margin-top: 26px;
  font-size: 22px;
}
.read > .read_more > p {
  margin-top: 6px;
  margin-bottom: 26px;
}
.read > .read_more > a {
  font-family: "Open Sans";
  font-style: normal;
  color: #6c63ff;
  font-size: 18px;
  text-decoration: none;
}

/* ----FOOTER--- */

.lets_talk {
  position: absolute;
  background: black;
  margin-left: 360px;
  margin-top: 110px;
  width: 800px;
  height: 266px;
  z-index: 9;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.lets_talk > h1 {
  font-size: 50px;
  color: #fff;
}
.lets_talk > a {
  padding: 13px 30px;
  font-family: "Open Sans";
  text-decoration: none;
  color: #fff;
  background: #6c63ff;
}

.footer {
  position: relative;
  margin-top: 280px;
  background: #ecebff;
}

.footer_list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 150px 0px;
  width: 900px;
}

.list_A > li {
  list-style: none;
  margin-top: 15px;
  line-height: 13px;
}
.list_A > li > a {
  color: black;
  text-decoration: none;
}
.list_A > li:nth-child(1) > a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: black;
  text-decoration: none;
}
